Repository pi0neerpat/swordy-bot-v2, pull requests merged in 2022-01, with the labels that each got.

#14 Upgrade redwood v0.42
  .env.template
  LICENSE
  README.md
  api/package.json
  api/src/lib/discord/discord.ts
  api/src/lib/web3/unlock/unlock.js
  babel.config.js
  bot/.env.template
  package.json
  vercel.json
  web/.babelrc.js
  web/package.json
  web/src/components/Role/RoleUpdate/RoleUpdateForm.js
  yarn.lock
Labels: size/XXL, web, api, dependency change

#18 Fixes + Optimism
  .env.template
  api/src/lib/role/role.js
  api/src/lib/web3/helpers.js
  redwood.toml
  web/src/helpers/constants.js
Labels: web, api, size/XS

#19 hasRole bug fix
  .env.template
  README.md
  api/src/lib/role/role.js
  api/src/lib/web3/helpers.js
  redwood.toml
  web/src/helpers/constants.js
Labels: web, api, size/S
